* {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
.mar {
  margin: auto;
  width: 90%;
}
.nav {
  gap: 30px;
  align-items: center;
}
.flex {
  display: flex;
}
.head {
  justify-content: space-between;
}
.header {
  margin-bottom: 100px;
}

.btn {
  background-color: black;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  height: 45px;
}


.btn:hover{
  background-color: #e5c643;
  color: #000;
}

.ban {
  background-color: #f4f6f5;
  border-radius: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.all-head {
  margin-top: 20px;
}

.imag {
  width: 200px;
  position: relative;
}

.imga {
  width: 600px;
  margin-top: 70px;
  border-radius: 30px;
}
.t {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 100px;
  margin-top: 50px;
}
.text {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 70px;
  margin: 0%;
  font-size: 420%;
  width: 40%;
}
.mar {
  margin-bottom: 25px;
}
.shop {
  margin-top: 25px;
  border-radius: 7px;
}
.brand {
  margin-top: 40px;
  background-color: #ebd96b;
  margin-bottom: 40px;
  margin: 40px;
  display: flex;
  justify-content: space-around ;
}
.app-image {
  width: 100px;
}
.sub {
  margin-bottom: 40px;
}
.cards {
  font-size: 14px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
}
.g-bwt {
  justify-content: space-between;
  width: 100%;
}
.card-wid {
  width: 100%;
}
.cad {
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.card-img {
  width: 334px;
}

.tt {
  background-color: #f4d84f;
  border-radius: 0px, 20px, 20px, 0px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.star1{
  position: absolute;
  margin-top: 80px;
  right: 600px;
  width: 40px;
}

.star2{
  position: absolute;
  margin-top: 400px;
  right: 550px;
  width: 40px;
}
.star3{
    position: absolute;
  margin-top: 400px;
  right: 200px;
  width: 40px;
}

.star4{
    position: absolute;
  margin-top: 90px;
  right: 300px;
  width: 40px;
}

.star5{
  position: absolute;
  margin-top: 80px;
  right: 1000px;
  width: 40px;
}

.star7{
  position: absolute;
  margin-top: 350px;
  right: 1000px;
  width: 40px;
}

.star6{
  position: absolute;
  margin-top: 80px;
  right: 700px;
  width: 40px;
}

.star8{
  position: absolute;
  margin-top: 400px;
  right: 660px;
  width: 40px;
}

.white {
  width: 220px;
  background-color: rgb(255, 255, 255);
  rotate: -2deg;
  padding-left: 8px;
  padding: 5px;
}
.de {
  rotate: 2deg;
}
.yell {
  width: 300px;
  background-color: #ebd96b;
  rotate: -2deg;
  padding-left: 8px;
  padding: 10px;
}
.rot {
  rotate: 2deg;
}
.ima {
  width: 500px;
  margin-top: 0%;
}
.last-ban {
  margin-bottom: 0%;

  padding-left: 50px;
}
.full{
  width: 80%;
  margin: auto;
}
.last-text {
  padding: 10px;
  margin-right: 200px;
  margin-top: 60px;
}
.whit {
  width: 300px;
  background-color: aliceblue;
  rotate: -2deg;
  padding-left: 8px;
  padding: 5px;
}
.te {
  font-size: 20px;
}
.top-padd {
  margin-top: 20px;
}
.fav {
  margin-bottom: 40px;
}
.cadd {
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.cad-img {
  width: 550px;
}
.l-fl {
  justify-content: space-between;
  margin-bottom: 50px;
}
.font {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 1000;
  letter-spacing: 0.6px;
  line-height: 1.25;
  color: #000;
}
.foot {
  flex-direction: column;
  line-height: 40px;
  margin-top: 50px;

}
.col {
  color: #ffffff;
  line-height: 50px;
}
.di {
  width: 250px;
  height: 40px;
  background-color: #f4f6f5;
  padding: 10px;
  justify-content: space-between;
  border-radius: 9px;
}
.cool {
  color: #ffffff;
}
.shop-com {
  padding: 70px;
  align-items: center;
  background-color: #e5c643;
}
.sen {
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}
.black{
  background-color: #000;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 90px;
}
.last{
  width: 100%;
  margin-bottom: 0%;
}
.wid{
  width: 80%;
  margin: auto;
  color: #ffffff;

  justify-content: space-between;
}
.lit{
  color: #5f5f5f;
}
.row{
  flex-direction: column;
  color: #787878;
}
.rr{
  color: #787878;
}

.case{
  justify-content: space-between;
  gap: 80px;
}
.company{
  color: #ffffff;
}
.i{
  width: 200px;
  margin-top: 40px;
}
.down-app{
  line-height: 80px;
  margin-top: 150px;
}
.am{
  line-height: 0%;
}
.small{
  width: 300px;
}
.col-f{
  gap: 300px;
}